.heading {
    color:red
}

.paragraph {
    color:beige
}
#headingv2{
    background-color:pink;
    
}
#Ottawa{
    color:blue
}

.size{
    padding:auto 5px;
    border-top:2px solid black;
    border-bottom:4px solid grey
}
.pgraph{
    border-width:10px; 
    border-style:ridge;
    border-color:lightgreen;
    margin:5px
}
h1{
    font-family:Roboto, sans-serif;
    text-align:center
}
p{
    font-family:"Crimson Text", serif;
}